* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
}

.bg-grill {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('assets/background-pic.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.bg-black {
    background-color: black;
}

.bg-red {
    background-color: #8b0000;
}

.bg-redbg {
    background-color: #8b0000;
}

.btn-primary {
    background-color: #8b0000 ;
    border: 1px solid red;
}

.btn-primary:hover {
    background-color: #d21404 ;
    border: 1px solid red;
}

.btn:active {
    background-color: #8b0000 !important;
    border: red 1px solid !important;
}

.btn-outline-primary {
    color: white;
    border-color: #8b0000;
}

.btn-outline-primary:hover {
    border-color: red;
    background-color: #d21404;
}

.btn-primary:disabled {
    background-color: #bbbbbb;
}

.login {
    width: 500px;
    height: max-content;
    padding: 20px;
    border-radius: 20px;
    background: black;

}

.login h1 {
    font-size: 36px;
    margin-bottom: 25px;
}

.login form {
    font-size: 20px;
}

.login form .form-group {
    margin-bottom: 12px;
}

.login form input[type="submit"] {
    font-size: 20px;
    margin-top: 15px;
}

.img-logo {
    height: auto;
    width: 450px;
}
.img-sub-logo {
    padding-top: 10px;
    padding-bottom: 20px;
    height:auto;
    width: 800px;
}

.card-columns-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number (3) as needed */
    gap: 15px; /* Adjust the gap between cards as needed */
  }

  @media (max-width: 992px) {
    /* Adjust the number (2) as needed for smaller screens */
    .card-columns-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 576px) {
    /* Adjust the number (1) as needed for even smaller screens */
    .card-columns-container {
      grid-template-columns: repeat(1, 1fr);
    }
  }

.card {
    background-color: #8b0000;
    color: white;
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem; /* Adjust the space between cards as needed */
    break-inside: avoid; /* Prevents a card from being split across columns */
    page-break-inside: avoid; /* Prevents a card from being split across pages (for printing) */
}

.custom-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    /* Set the desired aspect ratio here, for example, 4:3 */
    padding-top: 75%; /* (3 / 4) * 100% */
}

.productname {
    padding: 0.5rem;
}

/* Add this CSS for the ribbon style */
.ribbon {
    position: absolute;
    top: 10px;
    right: 10px;
    overflow: hidden;
    width: 240px; /* Adjusted width */
    height: 240px; /* Adjusted height */
    text-align: right;
}

.ribbon span {
    font-size: 25px; /* Adjusted font size */
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px; /* Adjusted line height */
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 480px; /* Adjusted width */
    display: block;
    background: #8b0000;
    background: linear-gradient(#8b0000 0%, #8b0000 100%);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 64px; /* Adjusted top position */
    right: -144px; /* Adjusted right position */
    border: 2px solid #fff; /* Added border */
}

@media only screen and (max-width: 768px) {
    .ribbon {
        width: auto;
        height: auto;
    }

    .ribbon span {
        width: auto;
        right: -50px; /* Adjusted right position for smaller screens */
    }
}

.btn {
    border-radius: 4px;
    padding: 12px 30px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-weight: 700;
    font-size: 15px !important;
  }
  .btn:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  .btn:hover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  .btn.btn-primary-red {
    color: #ffffff;
    background-color: #d21404 !important;
    border: 1px solid #d21404 !important;
    -webkit-box-shadow: 0 4px 20px rgba(255, 94, 94, 0.15);
    box-shadow: 0 4px 20px rgba(255, 94, 94, 0.15);
  }
  .btn.btn-primary-red:hover, .btn.btn-primary:focus, .btn.btn-primary.focus, .btn.btn-primary:active, .btn.btn-primary.active {
    background-color: #d21404 !important;
    border: 1px solid #d21404 !important;
    -webkit-box-shadow: 0 3px 10px rgba(255, 94, 94, 0.5);
    box-shadow: 0 3px 10px rgba(255, 94, 94, 0.5);
    color: #ffffff !important;
  }

  .text-sub {
    color: #9b9bae !important;
  }
  .bg-grey {
    background-color: #F8F6FA !important;
  }
  .title {
    color: #343a40;
  }
  .header-colorize {
    font-weight: 700;
    color: #6C55A3;
  }
  .section {
    padding: 120px 0px 120px 0px;
    position: relative;
  }
  .size-10 {
    font-size: 10px;
  }
  .size-14 {
    font-size: 14px;
  }
  .size-15 {
    font-size: 15px;
  }
  .size-18 {
    font-size: 18px;
  }
  .right-icon {
    line-height: 0;
    font-size: 19px;
  }
  .learn-more {
    color: #6C55A3;
    font-weight: 700;
  }
  .highlight {
    background: rgba(183, 96, 96, 0.1);
    -webkit-box-shadow: 0 1px 2px rgba(183, 96, 96, 0.5);
    box-shadow: 0 1px 2px rgba(183, 96, 96, 0.5);
    color: #d21404;
    border-radius: 13px;
    display: inline-block;
    padding: .25em .4em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
  .header-bg {
    padding: 170px 0 140px;
    background-image: url('assets/santa-rosa-branch.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
  }
  .header-bg .header-small-title {
    letter-spacing: 2px;
  }
  .header-bg .main-title {
    font-size: 2.8rem;
    line-height: 1.35;
    color: #d21404;
  }
  